<h1>Realtime list products</h1>

<br>

<form action="/api/products" method="post">
  <label for="fname">Product Name:</label><br>
  <input type="text" id="title" name="title"><br>
  <label for="lname">Description:</label><br>
  <input type="text" id="description" name="description"><br>
  <label for="fname">Price:</label><br>
  <input type="number" id="price" name="price"><br>
  <label for="lname">Code:</label><br>
  <input type="text" id="code" name="code"><br>
  <label for="fname">Stock:</label><br>
  <input type="number" id="stock" name="stock"><br>
  <label for="lname">Category:</label><br>
  <input type="text" id="category" name="category"><br>
  <label for="lname">Status:</label><br>
  <input type="text"  id="status" name="status"><br><br>
  

  <input type="submit" value="Submit">
</form>

